* {
    font-family: 'Oswald';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 0;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #430caf;
    color: white;
    border-radius: 10px;
} header ul {
    display: flex;
    align-items: center;
} header ul li {
    list-style: none;
    margin-right: 15px;
} header img {
    border-radius: 10px;
}

.tiktok {
    width: 80%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7F669D;
    color: white;
} .tiktok blockquote {
    box-shadow: 10px 10px 25px 1px #303030;
    border: none;
    border-radius: 10px;
}

.new-flavour {
    width: 80%;
    background-color: black;
}